.event-content {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: color-mix(in srgb, var(--color, var(--defaultColor)), white 75%);
    color: var(--color, var(--defaultColor));
    padding: var(--padding);
    font-weight: 600;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background-color: var(--color, var(--defaultColor));
    }
    
    .event-text {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-left: 0.5rem;
        text-wrap: wrap;
        overflow: hidden;

        &.truncated {
            --lines: 1;
            display: -webkit-box;
            line-clamp: var(--lines);
            -webkit-line-clamp: var(--lines);
            -webkit-box-orient: vertical;
        }
    }
}

.tooltip {
    h4 {
        margin-bottom: 0.5rem;
        text-align: center;
    }

    .contact-container {
        margin-bottom: 0.5rem;

        p {
            text-align: center;
        }
    }

    ul {
        padding-left: 1.25rem;
    }
}

.comment {
    white-space: pre-wrap;
}
